.admin-menu {
	list-style: none;
	margin: 0;
}

.admin-menu li a.link {
	/*pointer-events: none;*/
	margin-right: 5px;
}

.admin-menu li a.sub-links {
	display: none;
}

.back {
	float: left;
	width: 90%;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], 
textarea {
	border-radius: 10px;	
}

input.comment-field, textarea.comment-field {
	width: 30%;
}

button {
	border-radius: 10px;
}